*{
	margin: 0;
	padding:0;
	font-family: Century Gothic;
}
header
{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(firstpic.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
ul
{
	margin-right: 60px;
	margin-top: 10px;
	float: right;
}
ul li
{
	display: inline-block;
}
ul li a
{
	color: white;
	padding:5px 10px;
	border: 1px solid transparent;
}
ul li a:hover
{
	background-color: white;
	color: #000;
}
.title
{
	position: absolute;
	margin-top:10px;
	margin-left: 35px;
	/*transform: translate(-50%,-50%);*/

}
.title h1{
	color: red;
	font-style: italic;
	font-size: 20px;
}
.myblog{
	color: white;
	position: absolute;
	top:50%;
	padding: 5px 10px;
	margin-left:700px;	
}
.myblog:hover
{
	background-color: white;
	color: #000;
	border: 2px solid transparent;
}


.wrapper{
	margin-left: 390px;
    max-width: 400px;
    background: green;
    height: 40px;
    text-align: right;
}

.marquee {
    background: red;
    white-space: nowrap;
    -webkit-animation: rightThenLeft 4s linear;
}



























